    {%if not field.is_hidden%}
        <div class="row field-{{ field.name }}">
        {%if placeholder%}
            <div class="field{%if field.field.required%} required{%endif%}">
                {{field}}
                <script type="text/javascript">(function(){var l=document.getElementsByName("{{field.name}}"),f= l[l.length-1];f.setAttribute("placeholder","{{ field.label}}");f.setAttribute("title", "{{ field.label}}");f.className=f.className+" placeholder-el";})();</script>
                <span></span></div>
        {%else%}
            {{ field.label_tag }}
            <div class="field{%if field.field.required%} required{%endif%}">{{field}}<span></span></div>
        {%endif%}
            <div class="help help-{{ field.name }}">{{ field.help_text }}</div>
            <div class="error error-{{ field.name }}">{{ field.errors }}</div>
        </div>
    {%else%}
        {{field}}
    {%endif%}
